{% extends "common-content.html" %}

{% block title %}{{ problem.id }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card shadow-sm p-4 rounded">
        <h2>{{ problem.name }}</h2>
        <p>{{ problem.question_text }}</p>
        <form method="POST" action="{{ url('submit_mcq_response', problem.code) }}">
            {% csrf_token %}
            {% for option in options %}
            <label>
                <input type="radio" name="selected_option" value="{{ option.id }}" required>
                {{ option.text }}
            </label><br>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>


    </div>
</div>
{% endblock %}