<script type="text/javascript">
    $(function () {
        $('.leaving-forever').click(function () {
            return confirm({{ _('Are you sure you want to leave?')|htmltojs }} + '\n' +
                {{ _('You cannot come back to a virtual participation. You will have to start a new one.')|htmltojs }});
        });

        $('.join-warning, .participate-button, .first-join, .contest-join').click(function(e) {
            e.preventDefault(); // Stop default submission
            var form = $(this).closest('form');
            console.log('Join button clicked, form:', form);
            
            var confirmMessage = {{ _('Are you sure you want to join?')|htmltojs }} + '\n';
            
            if ($(this).val() === "{{ _('Virtual join') }}") {
                confirmMessage += {{ _('You will join this contest virtually.')|htmltojs }};
            } else {
                confirmMessage += {{ _('Joining a contest starts your timer, after which it becomes unstoppable.')|htmltojs }};
            }
            
            if(confirm(confirmMessage)) {
                console.log('User confirmed join, setting cookie flag and submitting form');
                // Set cookie to indicate we're joining a contest (this will trigger counter reset)
                document.cookie = "dmoj_joining_contest=true; path=/; max-age=300; SameSite=Lax";
                form.submit();
            }
            
            return false; // Prevent default form submission
        });
        
        {% if request.in_contest %}
        $('.contest-join').click(function(e) {
            e.preventDefault();
            
            if(confirm({{ _('Are you sure you want to join?')|htmltojs }} + '\n' +
                {{ _('Joining this contest will leave %(contest)s.', contest=request.participation.contest.name)|htmltojs }})) {
                
                console.log('Confirmed contest switch, setting cookie flag and submitting');
                var form = $(this).closest('form');
                // Set cookie to indicate we're joining a contest (this will trigger counter reset)
                document.cookie = "dmoj_joining_contest=true; path=/; max-age=300; SameSite=Lax";
                form.submit();
            }
            
            return false;
        });
        {% endif %}
    });
</script>