{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
{{ block.super }}
{% if original %}
<li>
    <form action="{% url 'hpe_admin:hpe_contest_upload_participants' original.pk %}" method="post"
        enctype="multipart/form-data" style="display: inline-block; margin-left: 10px;">
        {% csrf_token %}
        <label class="button" style="cursor: pointer;">
            {% trans "Upload Participants (CSV)" %}
            <input type="file" name="participants_csv" accept=".csv" onchange="this.form.submit()"
                style="display: none;">
        </label>
    </form>
</li>
<li>
    <a href="{% url 'hpe_admin:hpe_contest_send_invites' original.pk %}" class="historylink">{% trans "Send Invites"
        %}</a>
</li>
{% endif %}
{% endblock %}